<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ _('Найкращий у світі СПА салон') }}</title>
    <link rel="shortcut icon" type="image/png" href="http://www.favicon.co.uk/ico/4761.png"/>
    <link rel="stylesheet" href="{{ static('lib/bootstrap/3.3.6/css/bootstrap.min.css') }}" />
</head>
<body>
    <div class='container'>
        <nav class="navbar navbar-default col-xs-12">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url('home') }}">
                        <img alt="Brand" src="https://image.freepik.com/free-icon/claw-bath-in-spa_318-69535.png" style='max-width:100%; max-height:100%;'>
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li {% if request.path == '/' %}class="active"{% endif %}><a href="{{ url('home') }}">{{ _('Головна') }}</a></li>
                        <li {% if '/contacts' in request.path %}class="active"{% endif %}><a href="{{ url('contacts') }}">{{ _('Про нас') }}</a></li>
                    </ul>
                    {% if user.is_authenticated() %}
                    <ul class="nav navbar-nav navbar-right">
                        <p class="navbar-text">{{ _("Ви увійшли як ") }}{{ user.username }}</p> 
                        <li><a href="{{ url('list_order') }}">{{ _('Кабінет') }}</a></li>
                        <a class="btn btn-default navbar-btn navbar-right" href='{{ url('logout') }}'>{{ _('Вийти') }}</a>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <a href="{{ url('login') }}" class="btn btn-default">{{ _('Увійти') }}</a>
                        <a class="btn btn-default" href="{{ url('registration') }}">{{ _('Зареєструватися') }}</a>
                    </ul>
                    {% endif %}
            </div>
        </nav>

        <!-- messages -->
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} alert alert-info" role="alert" style="
    margin-top: 60px;
"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <!-- end of messages-->

        {% block content %}{% endblock %}
        <footer>
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 foot">
                <div class="copy">
                    &copy; 2015 Isizukuri
                </div>
            </div>
        </footer>

        {% block js %}
            <script src="{{ static('lib/jquery/2.1.4/jquery-2.1.4.min.js') }}"></script>
            <script src="{{ static('lib/bootstrap/3.3.6/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </div>
</body>
</html>
