{% extends 'base.jinja' %}

{% block content %}

<form method="post" action="{{ url('login') }}" class="col-md-3">
  {% csrf_token %}
  <div class="form-group">
    <label for="login">{{ _('Ім’я користувача') }}</label>
    <input name='username' type="text" class="form-control" id="login" placeholder="{{ _('Ваш логін') }}">
  </div>
  <div class="form-group">
    <label for="password">{{ _('Пароль') }}</label>
    <input name='password' type="password" class="form-control" id="password" placeholder="{{ _('Ваш пароль') }}">
  </div>
  <button type="submit" class="btn btn-info">{{ _('Увійти') }}</button>
</form>

{% endblock %}
