{% extends 'base.jinja' %}

{% block content %}

<form action="{{ url('registration') }}" method="post" class="form-horizontal">
  {% csrf_token %}
  <div class="form-group">
    <label for="name" class="col-sm-3 control-label">{{ _('Ім’я користувача') }}</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="name" name="username" placeholder="{{ _('логін') }}">
    </div>
    <span class="help-block">
        {% for error in form.username.errors %}
            {{ error }}
        {% endfor %}
    </span>

  </div>
  <div class="form-group">
    <label for="email" class="col-sm-3 control-label">{{ _("Електронна адреса") }}</label>
    <div class="col-sm-4">
      <input type="email" class="form-control" id="email" name="email" placeholder="email">
    </div>
    </div>

  <div class="form-group">
    <label for="first_name" class="col-sm-3 control-label">{{ _("Ім’я") }}</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="first_name" name='first_name' placeholder="{{ _('ваше ім’я') }}">
    </div>

</div>
  <div class="form-group">
    <label for="last_name" class="col-sm-3 control-label">{{ _("Прізвище") }}</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name='last_name' id="last_name" placeholder="{{ _('ваше прізвище') }}">
    </div>

</div>
  <div class="form-group">
    <label for="password" class="col-sm-3 control-label">{{ _("Пароль") }}</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="password" name="password" placeholder="{{ _('придумайте пароль') }}">
    </div>
</div>

  <div class="form-group">
    <label for="password_confirm" class="col-sm-3 control-label">{{ _("Підтвердження паролю") }}</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="{{ _('повторіть пароль') }}">
    </div>


  <div class="form-group" >
    <div class="col-sm-offset-3 col-sm-4">
      <button style="margin-top: 10px; "type="submit" class="btn btn-info">{{ _('Зареєструватися') }}</button>
    </div>
  </div>
</form>

{% endblock %}
