{% extends 'base.jinja' %}

{% block content %}
<div>
<ul>
<li><span>Ровно, переулок Ониловой 8/10 (угол Базарной)</span></li>
<li><span> +38 (048) 725-25-14, 704-05-05</span></li>
<li><a href="mailto:rovnobali@gmail.com">rovnobali@gmail.com</a></li>
<li><span>время работы: ежедневно' 10.00 – 22.00</span></li>
</ul>
</div>
</form>
{% endblock %}
