{% extends 'base.jinja' %}

{% block content %}
<form action="{{ url('create_order') }}" method="post" class='col-md-4'>
  {% csrf_token %}
  <div class="form-group" hidden>
    <input name='applicant' type="text" class="form-control" id="applicant" value="{{ user }}">
  </div>
  <div class="form-group">
    <label for="service">{{ _('Вид послуги') }}</label>
    <select name='service' type="text" class="form-control" id="service" placeholder="{{ _('введіть назву послуги') }}">
        <option disabled selected></option>
        <option value='hair'>Стрижка</option>
        <option value='nails'>Манікюр або педикюр</option>
        <option value='cosmetics'>Косметичні послуги</option>
        <option value='tatoo'>Тату</option>
        <option value='piersing'>Пірсинг</option>
        <option value='massage'>Масаж</option>
        <option value='other'>Інше</option>
    </select>
  </div>
  <span class="help-block">
        {% for error in form.service.errors %}
            {{ error }}
        {% endfor %}
  </span>


  <div class="form-group">
    <label for="comment">{{ _('Коментар') }}</label>
    <textarea name='comment' type="text" class="form-control" id="comment" rows ='7' placeholder="{{ _('введіть Ваші побажання') }}">{% if form.errors %}{{ form.comment.value() }}{% endif %}</textarea>
  </div>
  <span class="help-block">
        {% for error in form.comment.errors %}
            {{ error }}
        {% endfor %}
  </span>


  <button class='btn btn-default' type="submit">{{ _('Створити заявку') }}</button>
</form>
{% endblock %}
