{% extends 'base.jinja' %}

{% block content %}
<img src='http://imperatriza.com/wp-content/uploads/2014/09/1320592354_z_27e70165.jpg' style='max-width:100%; max-height:100%;'>
<style>
article img{
max-width:100%;
height: auto;
}
</style>
<article>
<div align="center">
<div align="center"><h4>Салон красоты и SPA «У дяди Саши» в Ровно&nbsp;— мастерство, которое дарит изысканное перевоплощение!</h4></div>
</div>
<div align="justify"><strong>Салон красоты и SPA «У дяди Саши» в Ровно</strong> заботится о своих клинтах так трепетно, как следует заботиться о грации крошечного мотылька. Здесь подчеркнут лучшие черты Вашего обаяния и подарят незабываемые ощущения от процесса совершенствования естественной красоты.</div>
<div align="justify">&nbsp;</div>
<div align="justify">Для своих клиентов <strong>салон</strong> организовал отличный сервис и все удобства: мягкая мебель, бесплатные чай-кофе, Wi-Fi Интернет, TV-экран, кондиционирование помещений и бесплатную автостоянку.</div>
<div align="justify">&nbsp;</div>
<div align="justify">Максимальное количество человек, которые одновременно могут обслуживаться в <strong>салоне</strong>&nbsp;— 6. Также в <strong>«У дяди Саши»</strong> предоставляются консультации косметолога и можно приобрести подарочные сертификаты на сумму 250-1000 грн.</div>
<div align="justify">&nbsp;</div>
<div align="justify"><strong>Форма расчета</strong>: наличные.</div>
<div align="justify"><strong>График работы</strong>: пн.-сб. 10:00-19:00&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
<div align="justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; воскресенье&nbsp;— по записи.</div>
<div align="justify">&nbsp;</div>
<div align="justify"><strong><span style="text-decoration: underline;">Парикмахерские услуги</span></strong>:</div>
<div align="justify"><strong>Окраска</strong>: блондирование, колорирование, мелирование, тонирование.</div>
<div align="justify"><strong>Наращивание волос</strong>: вплетения волос в косички (азиатская технология), наращивание Тресс (французская технология).</div>
<div align="justify"><strong>Лечение волос</strong>: лечение состояния волос по всей длине, лечения выпадения волос, компьютерная диагностика состояния волос.</div>
<div align="justify">&nbsp;</div>
<div align="justify"><strong>Профессиональные средства</strong>, используемые в парикмахерских услугах: CHI, MATRIX, HOLY LAND, OXYGEN BOTANICALS, YELLOW ROSE, SEMBIOTEC, MINX, OPI, ORLY, KODI.</div>
<div align="justify">&nbsp;</div>
<div align="justify"><strong><span style="text-decoration: underline;">Маникюр</span></strong>:</div>
<div align="justify"><strong>Классический</strong> (обрезной) маникюр, европейский (необрезной) маникюр, аппаратный маникюр, комбинированный маникюр, SPA-маникюр, покрытие ногтей гель-лаком на 14 дней.</div>
<div align="justify"><strong>Наращивание и дизайн ногтей</strong>: художественный дизан ногтей, «аквариумной» дизайн ногтей, наращивание ногтей акрилом, наращивание ногтей гелем, коррекция наращенных ногтей.</div>
<div align="justify">&nbsp;</div>
<div align="justify"><strong><span style="text-decoration: underline;">Педикюр</span></strong>:</div>
<div align="justify"><strong>Европейский</strong> (необрезной) педикюр, аппаратный педикюр, комбинированный педикюр, SPA-педикюр, покрытие ногтей гель-лаком на 14 дней.</div>
<div align="justify"><strong>Лечебные услуги</strong>: грибковые заболевания ногтевых пластин и стоп, мозоли, натоптыши.</div>
<div align="justify">&nbsp;</div>
<div align="justify"><strong><span style="text-decoration: underline;">Косметологические услуги</span></strong>:</div>
<div align="justify"><strong>Чистка лица</strong>: ручная, механическая, химическая, ультразвуковая.</div>
<div align="justify"><strong>Пилинги</strong>: химический (кислотный, ферментный), физический ультразвуковой.</div>
<div align="justify"><strong>Массаж лица</strong>: классический, пластический, щипковый (массаж по Жаке), лимфодренажный испанский.</div>
<div align="justify"><strong>Аппаратные процедуры</strong>: дарсонвализация, ионофорез.</div>
<div align="justify"><strong>Косметология проблемной кожи</strong>: лечение угрей и акне, лечение купероза (видимых «звездочек» судинок).</div>
<div align="justify">&nbsp;</div>
<div align="justify"><strong><span style="text-decoration: underline;">Визаж</span></strong>: дневной, праздничный: вечерний, свадебный, креативный (арт-визаж), детский, завивка ресниц, окрашивание ресниц и бровей.</div>
<div align="justify">&nbsp;</div>
<div align="justify"><strong><span style="text-decoration: underline;">Наращивание ресниц</span></strong>: поштучная, пучковое.</div>
<div align="justify">&nbsp;</div>
<div align="justify"><strong><span style="text-decoration: underline;">Тату</span></strong>: классическое тату, временное тату.</div>
<div align="justify">&nbsp;</div>
<div align="justify"><strong><span style="text-decoration: underline;">Пирсинг</span></strong>: прокалывания ушей.</div>
<div align="justify">&nbsp;</div>
<div align="justify"><strong><span style="text-decoration: underline;">Удаление волос</span></strong>: восковая эпиляция (ваксинг, биоэпиляция), сахарная эпиляция (шугаринг).</div>
<div align="justify">&nbsp;</div>
<div align="justify"><strong><span style="text-decoration: underline;">Массажи</span></strong>:</div>
<div align="justify">- <strong>Классические</strong>: релаксирующий;</div>
<div align="justify">- <strong>Для коррекции фигуры</strong>: лимфатический, антицеллюлитный, медово-баночный;</div>
<div align="justify">- <strong>SPA-массажи</strong>: аромамассаж, гидромассаж.</div>
<div align="justify">&nbsp;</div>
<div align="justify"><strong><span style="text-decoration: underline;">Обертывания</span></strong>: талассотерапия (обертывание водорослями), глиняные обертывания, шоколадное обертывание, медовое обертывание, холодное обертывание.</div>
<div align="justify"><strong><span style="text-decoration: underline;">Тел.:</span></strong>+38 096 372 97 03</div>
</article>

{% endblock %}