{% extends 'base.jinja' %}

{% block content %}
<a type="button" class="btn btn-primary" href={{ url('create_order') }} style="margin-bottom: 10px;">{{ _('Подати заявку') }}</a>
<table class="table table-hover">
  <tr>
    <th>{{ _('Дата заявки') }}</th>
    <th>{{ _('Назва послуги') }}</th>
    <th>{{ _('Вартість') }}</th>
    <th>{{ _('Дата виконання') }}</th>
    <th>{{ _('Статус') }}</th>
    <th>{{ _('Дата розгляду') }}</th>
    <th>{{ _('Результат розгляду') }}</th>
{% for order in object_list | sort(attribute='created_on', reverse=True) %}
  <tr>
    <td>{{ order.created_on.strftime('%d.%m.%Y %H:%M') }}</td>
    <td>{{ order.service.title() }}</td>
    <td>{% if order.cost %}{{ order.cost }}{% endif %}</td>
    <td>{% if order.service_date %}{{ order.service_date.strftime('%d.%m.%Y %H:%M') }}{% endif %}</td>
    <td>{% if order.status %} {{ _('Розглянуто') }} {% else %} {{ _('Не розглянуто') }} {% endif %}</td>
    <td>{% if order.result!=None %}{{ order.solved_on.strftime('%d.%m.%Y %H:%M') }}{% endif %}</td>
    <td>{% if order.status and order.result %}{{ _('Підтверджено') }}{% endif %}{% if order.status and not order.result %}{{ _('Відмовлено') }}{% endif %}</td>
  <tr>
{% else %}
  <tr>
    <td>{{ _('Ви ще не замовляли послуг.') }}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}
